<script src="{{ STATIC_URL }}js/jquery.js"></script>
{% load bootstrap3 %}
{% bootstrap_css %}
<script>
$(document).ready(function() {
  var succeededBar = $('.progress-bar-success');
  var failedBar = $('.progress-bar-danger');
  var remainingBar = $('.progress-bar:not(.active)');

  var poll = function() {
    $.getJSON("/progress/{{ job_id }}/json/", function(data) {
      var data = data[0]['fields'];
      processed = data['processed_records'];
      total = data['total_records'];

      var p1 = Math.round(processed / total * 100) + '%';
      var p2 = Math.round(0 / total * 100) + '%';
      var p3 = Math.round((total-processed) / total * 100) + '%';

      succeededBar.css('width', p1);
      succeededBar.children().html(p1);

      failedBar.css('width', p2);
      failedBar.children().html(p2);

      remainingBar.css('width', p3);
      remainingBar.children().html(p3 +' Remaining');

      if (processed < total) {
        setTimeout(poll, 2000);
      }
    });
  };

  poll();
});
</script>
<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped active">
    <span></span>
  </div>
  <div class="progress-bar progress-bar-danger progress-bar-striped active">
    <span></span>
  </div>
  <div class="progress-bar" style="width:100%; background-color: #E0E0EB; color: black">
    <span>Loading...</span>
  </div>
</div>
